---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Aurelio Mont</h1>
			<p class="hero__text">
				Construyo el futuro digital: Diseñador de Experiencias, Maestro de Códigos
			</p>
			<Boton href="#about" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/ame.png"
		alt="Aurelio Mont"
		width="384"
    	height="384"
	/>
	</div>
</section>
