---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Como desarrollador web, mis habilidades clave incluyen: Dominio de
			Lenguajes de Programación: HTML, CSS, JavaScript y más. Frameworks y
			Librerías: Bootstrap, React, Angular. Diseño Responsivo: Adaptación
			a diferentes dispositivos. UX/UI: Experiencias intuitivas y
			atractivas. Control de Versiones: Git para colaboración. SEO y
			Optimización: Visibilidad en buscadores. Resolución de Problemas:
			Depuración y aprendizaje. Actualización Constante: Adaptación a
			cambios. Trabajo en Equipo: Colaboración efectiva. Pasión por la
			Creatividad: Arte digital en código.
		</p>
	</div>
</section>
